{% extends 'base.html.twig' %}

{% block body %}
    <h1>Company creation</h1>

    <div class="card" style="width: 100%;">
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-success btn-block" type="submit" value="Create"/>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
