parameters:
    my_user_provider.class: AppBundle\Security\Core\User\FOSUBUserProvider

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    AppBundle\:
        resource: '../../src/AppBundle/*'
        exclude: '../../src/AppBundle/{Entity,Security,Repository,Tests}'

    AppBundle\Controller\:
        resource: '../../src/AppBundle/Controller'
        public: true
        tags: ['controller.service_arguments']

    AppBundle\Chatbot\Chatbot:
        arguments:
            $apiUrl: '%chatbot_api_url%'
            $apiPort: '%chatbot_api_port%'

    AppBundle\Service\FileUploader:
        arguments:
            $targetDirectory: '%bid_files_directory%'

    AppBundle\Controller\Admin\AdminController:
        arguments:
            - '%reports%'
            - '%reports_endpoint%'

    app.form.registration:
        class: AppBundle\Form\RegistrationType
        tags:
            - { name: form.type, alias: app_user_registration }

    app.form.profile:
        class: AppBundle\Form\ProfileType
        tags:
            - { name: form.type, alias: app_user_profile }

    AppBundle\EventSubscriber\CustomEventSubscriber:
        arguments:
            $router: '@router'
            $requestStack: '@request_stack'
            $userManager: '@fos_user.user_manager'
            $entityManager: '@doctrine.orm.entity_manager'
            $geoIPdir: '%geoip_database_directory%'

    app.login.failure:
        class: 'AppBundle\Service\AuthenticationFailureHandler'
        arguments:
            - '@kernel'
            - '@security.http_utils'
            - '@doctrine.orm.entity_manager'

    my_user_provider:
        class: "%my_user_provider.class%"
        #this is the place where the properties are passed to the UserProvider - see config.yml
        arguments: ['@fos_user.user_manager',{facebook: facebook_id, google: google_id}]

    AppBundle\Security\Authentication\Handler\AuthenticationSuccessHandler:
        arguments: ['@router']