{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="width: 100%; margin-top: 25px;">
        <div class="card-body">
            <h5 class="card-title">Available application keywords</h5>
            <h6 class="card-subtitle mb-2 text-muted">Use this link to <a href="{{ path('sync_keywords') }}" id="sync">synchronize with chatbot API</a>.
            </h6>
            <div class="table-responsive-md">
                <table class="table table-borderless table-condensed table-striped">
                    <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Value</th>
                        <th scope="col">Description</th>
                        <th scope="col">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for keyword in keywords %}
                        <tr {% if keyword.status ==0 %}class="text-muted"{% endif %}>
                            <td>{{ keyword.id }}</td>
                            <td>{{ keyword.value }}</td>
                            <td>{{ keyword.description }}</td>
                            <td>{% if keyword.status == 1 %}ACTIVE{% else %}INACTIVE{% endif %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}
