{% trans_default_domain 'FOSUserBundle' %}

<style>
    meter {
        margin: 0 auto 1em;
        width: 100%;

        /* Applicable only to Firefox */
        background: none;
    }

    meter::-webkit-meter-bar {
        background: none;
    }

    /* Webkit based browsers */
    meter[value="1"]::-webkit-meter-optimum-value { background: red; }
    meter[value="2"]::-webkit-meter-optimum-value { background: yellow; }
    meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
    meter[value="4"]::-webkit-meter-optimum-value { background: green; }

    /* Gecko based browsers */
    meter[value="1"]::-moz-meter-bar { background: red; }
    meter[value="2"]::-moz-meter-bar { background: yellow; }
    meter[value="3"]::-moz-meter-bar { background: orange; }
    meter[value="4"]::-moz-meter-bar { background: green; }
</style>

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
    {{ form_widget(form) }}
    <div>
        <input class="btn btn-block btn-primary" type="submit" value="Change password" />
    </div>
{{ form_end(form) }}

<script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.2.0/zxcvbn.js"></script>

<script>
    $('#fos_user_change_password_form_plainPassword_first').parent().append($('<meter max="4" id="password-strength-meter"></meter>'));


    var password = document.getElementById('fos_user_change_password_form_plainPassword_first');
    var meter = document.getElementById('password-strength-meter');

    var strength = {
        0: "Worst",
        1: "Bad",
        2: "Weak",
        3: "Good",
        4: "Strong"
    }

    password.addEventListener('input', function () {
        var val = password.value;
        var result = zxcvbn(val);

        // Update the password strength meter
        meter.value = result.score;
    });
</script>